.iconstyleCard{
    margin-top: 10px;
    margin-bottom: 0px;
    }
    .iconoMenuDeslizante{
      font-size: 2em;
    }

    .login-header{
      background: var(--theme-color);
    }
    .login-header{
      position: relative;
      background: var(--theme-color);
      border-radius: 0em;
    }
    .login-header:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 15%;
      width: 0;
      height: 0;
      border:20px solid transparent;
      border-top-color:var(--theme-color);
      border-bottom: 0;
      margin-left: -15px;
      margin-bottom: -15px;
    
    }
