<ion-app>
<!--   
   <ion-menu contentId="content1" side="end">
    <ion-header>
      <div class="login-header ion-padding">
        <div heading-colum-lr>
      <ion-toolbar color="red">   
        <h1 big-heading>Menu</h1> 
      </ion-toolbar>
      </div>
    </div>
    </ion-header>
    <ion-content>
      <div linespace></div>
      <ion-list>
       <ion-item>

       </ion-item>
        <ion-item style="text-align: center;" (click)="logout()">
          <ion-icon class="iconoMenuDeslizante" name="person-circle-outline"></ion-icon>
          <ion-label> Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1" main></ion-router-outlet> -->
  <ion-router-outlet ></ion-router-outlet>
</ion-app>