
<ion-header no-border>
    <div class="login-header ion-padding">
      <div linespace></div>
     
   </div>
  
  </ion-header>
  
  <ion-content>
    <div linespace></div>
  <div class="center">
    <div heading-colum-lr>
      <h1 big-heading>Register</h1>
    </div>
   
    <ion-item transparent>
        <img icon-small src="assets/img/username.png"/>
        <ion-input [(ngModel)]="email" placeholder="Email" type="text"></ion-input>
    </ion-item>
    
    <ion-item transparent>
      <img icon-small src="assets/img/password.png"/>
      <ion-input [(ngModel)]="password" placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-item transparent>
      <img icon-small src="assets/img/password.png"/>
      <ion-input type="{{type}}" name="passwordConf" [(ngModel)]="passwordConf" placeholder="Confirmar Contraseña">
      </ion-input>
      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
         <ion-icon name="eye" style="font-size:25px;"></ion-icon>
      </button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
         <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
      </button>
    </ion-item>

  <ion-label class="labelStyle" style="color:red;">{{ res }}</ion-label>
    
  <ion-button style="margin-left: 15px; margin-right: 15px;" color="success" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="register()">Registrarse</ion-button>
  </div>
 
  </ion-content>



