.login-header{
    background: var(--theme-color);
  }
  .login-header{
    position: relative;
    background: var(--theme-color);
    border-radius: 0em;
  }
  .login-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border:20px solid transparent;
    border-top-color:var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
  
  }
  .logo-img{
    display: block;
    width: 70px;
    height: 7em;
    margin: 0 auto;
    text-align: center;
  }
  
  [heading-colum-lr]{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  }
  
  [big-heading]{
  font-size: "Heebo-Bold !important";
  font-size: 30px !important;
  margin-left: 30px;
  color:var(--theme-black);
  }
  
  [small-heading]{
  font-family: "Heebo-Regular" !important;
  margin-left: auto;padding-right: 40px; font-size: 15px;
  margin-left: 20px;
  }
  
  ion-label{
    color:#000;
    opacity: .8;
    font-size: 13px;
    display: block;
  
  }
  ion-content{
    --background: #fafafa;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  [transparent]{
  --backgrund: transparent;
  }
  
  ion-input{
    margin-left: 20px;
    --color: #000;
    --padding-bottom:15px;
    --padding-top: 15px;
    --padding-start: 5px;
    font-size: 15px;
    text-indent: 1px;
    padding-left: 10px !important;
  }
  [icon-small]{
    width: 30px;
    margin-left: 20px;
    
  }
  
  ion-item{
    margin-left: 20px;
    --highlight-color-focused: transparent;
    --highlight-height:0;
    --highlight-color-invalid: #000;
    --highlight-color-valid: #ddd;
    --min-height:65px;
    --padding-start:0;
    margin-right: 20px;
  }
  [linespace]{
    height: 30px;
  }
  
  ion-label{
    color: #000;
    opacity: .8;
    font-size: 13px;
    display: block;
  
    padding: 10px;
  }
  
  #container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  }
  
  #container strong {
  font-size: 20px;
  line-height: 26px;
  }
  
  #container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #8c8c8c;
  
  margin: 0;
  }
  
  #container a {
  text-decoration: none;
  }
  
  ion-content ion-toolbar {
  --background: translucent;
  }
  
  .labelStyle{
    text-align: center;
  }
  .btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btn_eye_icon:focus{
    outline: none  !important;
}